// Bootstrap grid mixins
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid';

// Grid factory
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';

// Helper spacing classes
.row-bleed {
  margin-left: 0;
  margin-right: 0;

  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-sm-buffer {
  padding-top: $grid-gutter-width;
}

.col-md-buffer {
  padding-top: $grid-gutter-width;
}

.col-lg-buffer {
  padding-top: $grid-gutter-width;
}

@media (min-width: $screen-sm-min) {
  .col-sm-buffer {
    padding-top: 0;
  }
}

@media (min-width: $screen-md-min) {
  .col-md-buffer {
    padding-top: 0;
  }
}

@media (min-width: $screen-lg-min) {
  .col-lg-buffer {
    padding-top: 0;
  }
}
