html {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-colour;
  line-height: $font-line-height;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  @include font-size(2.5);
  @include relative-size(margin-top, 1);
  @include relative-size(margin-bottom, 1);
}

h2 {
  @include font-size(1.75);
  @include relative-size(margin-top, 1);
  @include relative-size(margin-bottom, 1);
}

h3 {
  @include font-size(1.5);
  @include relative-size(margin-top, 1);
  @include relative-size(margin-bottom, 1);
}

h4,
h5,
h6 {
  @include font-size(1.2);
  @include relative-size(margin-top, 1);
  @include relative-size(margin-bottom, 1);
}

p,
ul,
ol,
hr {
  @include relative-size(margin-top, 1);
  @include relative-size(margin-bottom, 1);
}

a {
  color: $font-colour;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

hr {
  background: none;
  border: none;
  border-top: solid $colour-grey-light 1px;
}

ul,
ol {
  @include relative-size(padding-left, 1);
}

// Helper classes
.text-larger {
  font-size: 1.2em;
}

.text-smaller {
  font-size: .8em;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}
